<div class="row p-3">
	<div class="col-4">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Record book 1</h5>
		    <p class="card-text">Dairie cattle record book, 2018, Record book 1</p>
		    <a href="#" class="btn btn-primary">Veiw</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Record book 2</h5>
		    <p class="card-text">Dairie cattle record book, 2018, Record book 2</p>
		    <a href="#" class="btn btn-primary">Veiw</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Record book 3</h5>
		    <p class="card-text">Dairie cattle record book, 2018, Record book 3</p>
		    <a href="#" class="btn btn-primary">Veiw</a>
		  </div>
		</div>
	</div>
</div>
<div class="row p-3">
	<div class="col-4">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Record book 4</h5>
		    <p class="card-text">Dairie cattle record book, 2018, Record book 1</p>
		    <a href="#" class="btn btn-primary">Veiw</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Record book 5</h5>
		    <p class="card-text">Dairie cattle record book, 2018, Record book 2</p>
		    <a href="#" class="btn btn-primary">Veiw</a>
		  </div>
		</div>
	</div>
	<div class="col-4">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Record book 6</h5>
		    <p class="card-text">Dairie cattle record book, 2018, Record book 3</p>
		    <a href="#" class="btn btn-primary">Veiw</a>
		  </div>
		</div>
	</div>
</div>