<div class="w-50 p-5">
	<h1>Hello wellcome to the RBGASS</h1>
	<div class="row">
		<div class="col-6">
			<p>
				RBGASS stands for<br>
				R : Record <br>
				B : Book <br>
				G : Grading <br>
				A : And <br>
				S : Storage <br>
				S : System <br>
			</p>
		</div>
		<div class="col-6">
			<p>
				The RBGASS system aims to help graders and students alike by helping both to more easely and eficintly fill out and grade record books
			</p>
		</div>
	</div>
</div>
