<div class="w-50 p-5">
	<h1>Hello wellcome to the RBGASS</h1>
	<div class="row">
		<div class="col-6">
			<p>
				RBGASS stands for<br>
				R : Record <br>
				B : Book <br>
				G : Grading <br>
				A : And <br>
				S : Storage <br>
				S : System <br>
			</p>
		</div>
		<div class="col-6">
			<p>
				The RBGASS system aims to help graders and students alike by helping both to more easely and eficintly fill out and grade record books
			</p>
			<button class="btn btn-info" onclick="startTour();">Start the tour</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		//set script config
		enjoyhint_instance.set(tours.homePage);

		//run Enjoyhint script
		if(sessionStorage.getItem('onTour')=='true'){
			enjoyhint_instance.run();
		}
	});

	function startTour(argument) {
		sessionStorage.setItem('onTour', true)
		enjoyhint_instance.run();
	}
</script>
