<div class="row p-3">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="card p-3">
			<h1>Sign Up</h1>
			<a>{{message}}</a>
			<form action="/user/signup" method="post">
				<div class="form-group">
					<label for="username">Username</label>
					<input onchange="next();" type="text" id='username' name="username" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input onchange="next();" type="password" id='password' name="password" class="form-control">
				</div>
				<button type="submit" class="btn btn-success" id="signupButton">Sign Up</button>
				<div class="card p-1 mt-3">
					Already have a RBGASS account? 
					<a href="/user/signin">Signin.</a>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		//set script config
		enjoyhint_instance.set(tours.signupPage);

		//run Enjoyhint script
		if(sessionStorage.getItem('onTour')=='true'){
			enjoyhint_instance.run();
		}
	});
	
	function next(){
		console.log("NEXT!")
		if(sessionStorage.getItem('onTour')=='true'){
			enjoyhint_instance.trigger('next');
		}
	}
</script>